@model Udemy_MVC5Course.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";

}
<h2>Random</h2>

@{
    var classname = Model.Cust.Count > 1 ? "popular" : null;
}
<h2 class="popular">@Model.MoviesName</h2>


    @if (Model.Cust.Count == 0)
    {
        <text>no one Watch this movie</text>
    }
    else
    {
        <ul>
            @foreach (var customer in Model.Cust)
            {
                <li>
                    <h2>@customer.C_Name</h2>

                </li>

            }

        </ul>
    }
