@model IEnumerable<Udemy_MVC5Course.Models.Customer>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <thead>
        <tr>
            <td>Customer Name</td>
            <td>Name</td>
            <td>Discount Rate</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
        <tr>
            <td>@Html.ActionLink(customer.C_Name, "Edit", new { id = customer.C_id })</td>
            <td> @customer.MembershipType.Name</td>
            <td> @customer.MembershipType.DiscountRate%</td>
        </tr>
        }
    </tbody>
</table>

